*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    background-position: absolute;
    background-repeat: no-repeat;
    filter: brightness(50%);
    background-size: cover;
    width: 100%;
}
.intro{
    background-color: rgba(0,0,0,0.9);
    transform: translate(80%,-160%);
    width: 50%;
    height: 230px;
}
.intro h3{
    color:white;
    padding-top: 10px;
    opacity: initial;
}
.intro h3:hover{
    padding: 15px;
    background-color: rgb(102, 16, 102);
    color:white;
}
.intro h3{
    font-size:38px;
}
.intro h3::first-letter{
    font-size: 48px;
}
.intro p{
    color:white;
    font-size:18px;
    padding: 14px;
}
.intro p::selection{
    color:white;
    background-color: rgb(105, 67, 122);
}
/*media query for smaller screen*/
@media only screen and (max-width: 650px)
{
    img{
    background-size: cover;
    width: 100%;
    }
    .intro{
    transform: translate(0%,-7%);
    width: 100%;
    height:380px;
    }
}
/*media query for medium screen*/
@media only screen and (max-width:750px)and (min-width:651px){

    img{
    background-size: cover;
    width: 100%;
    }
    .intro{
    transform: translate(0%,-7%);
    width: 100%;
    height:300px;
    }
}