 *{
     margin:0px;
     padding: 0px;
     overflow:hidden;
    }
    img{
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        filter:brightness(50%);
        }
    h3{
         display: none;
      }
    table {
          border-collapse: collapse;
          width: 60%;
          transform: translate(40%,-440%);
          }

        td {
          text-align: left;
          padding: 20px;
          font-size: 20px;
           }
        tr:nth-child(odd) {background-color:rgba(0,0,0,0.4);
        color:white;
        }
        tr:nth-child(even) {background-color:rgba(0,0,0,0.9);
        color:white;
        }
/*media query*/
@media only screen and (max-width: 650px)
{
    *{
        overflow:visible;
     }
     img{
        background-size: cover;
        width: 100%;
        }
    h3{
        font-size:28px;
        display: initial;
        }
    table{
        transform: translate(0%,10%);
        width:100%;
        height:auto;
        }
    td {
        text-align:center;
        padding: 20px;
        font-size: 18px;
        }
}
@media only screen and (max-width:850px)and (min-width:731px){

       *{
         overflow:visible;
        }
         img{
            background-size: cover;
            width: 100%;
          }
        table{
            transform: translate(0%,-350%);
            width:80%;
            height:auto;
            margin-left:70px;
        }
        .cont h3{
            display:hidden;
        }
}
@media only screen and (max-width:750px)and (min-width:651px){

    *{
        overflow:visible;
    }
    img{
        background-size: cover;
        width: 100%;
      }
        .cont h3 {
        font-size:38px;
        display:initial;
        }
    table{
        transform: translate(0%,30%);
        width:100%;
        height:auto;
    }
    td {
        text-align:center;
        padding:20px;
        font-size: 24px;
        }
}